version: "3.9"

services:

  mysql:
    image: mysql:8.3
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
      MYSQL_DATABASE: projectdb
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: project-management-app
    restart: always
    depends_on:
      - mysql
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/projectdb?useSSL=false&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 12345678
      JWT_SECRET: 9duV0nM5aS3cD0eG7hJ9kL1pO4qR2tY6uI8wE3xZ
      JWT_EXPIRATION: 3600000
    ports:
      - "8080:8080"

volumes:
  mysql_data:
